* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    font-size: 30px;
}

.portfolio-item .img-thumbnail {
    cursor: pointer;
}